// Microsoft Visual C++ generated resource script.
//
#include "..\include\Resources.h"

RES_LANTERNGLOW_PNG
RES_GLOW_PNG
RES_NEBULA_PNG
RES_BUBBLE_PNG
RES_BG_PNG
RES_TITLE_PNG
RES_PASSTHRU_VERT
RES_VELOCITY_FRAG
RES_POSITION_FRAG
RES_LANTERN_VERT
RES_LANTERN_FRAG
RES_ROOM_VERT
RES_ROOM_FRAG
RES_VBOPOS_VERT
RES_VBOPOS_FRAG
RES_GLOW_FRAG
RES_NEBULA_FRAG
